body {
  margin: 0px 20px;
  background-color: rgb(0, 0, 31);
}

.entry {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 20px;
  align-items: center;
}

.job:hover {
  cursor: pointer;
}

.logo {
  padding-top: 10px;
  height: 4%;
  width: 4%;
  background-color: transparent;
  align-items: 'center',
} 

.row {
  display: flex;
  width: 100%;
  margin-top: 25px;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 300px;
  padding: 15px;
  height: 100%; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
